<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pms.mapper.xitong.RoleMapper" >
 	<sql id="query_role_where">
	 		<if test="roleName != null and roleName != ''">
				and roleName like '%${roleName}%'
			</if>	
			and isFlag =0		 
	</sql>
	
	<select id="getCount" resultType="int">
		select count(*) from role
		<where>
		 isFlag = 0
			<include refid="query_role_where"></include>
		</where>
	</select>	
	
	<select id="findRoleForm"  resultType="Role">
		select * from role   
		<where>
		 isFlag = 0
			<include refid="query_role_where"></include>
		</where>
		order by createTime desc
		limit #{pageModel.pageData},#{pageModel.eachPageNum} 	 
	</select>
	
	<select id="updateRoleById" resultType="Role">
		select * from role where id=#{id} and isFlag = 0
	</select>
	<select id="selectRoleByRoleName" resultType="Role">
		select * from role where roleName=#{roleName}  and isFlag = 0
	</select>
	
	<select id="findAllByName" resultType="Role">
		select roleName , id from role
	 
	</select>
	<select id="findRoleAll" resultType="Role">
		select * from role 
	 
	</select>
	<update id="updateRole" parameterType="Role">
		update Role
	<set>
		<if test="roleName != null and roleName != ''">
			roleName = #{roleName}
		</if>
		<if test="createTime != null and createTime != ''" >
			createTime =#{createTime}
		</if>
		where id = #{id}
	</set>
	</update>
	
	<insert id="insertRole" parameterType="Role">
		insert into role(roleName)
		values(#{roleName})
	</insert>
	
	<update id="deleteRole">
		update role set isFlag=1
		where id = #{id}
	</update>
	
	<update id="deleteRoles">
		update role set isFlag=1
		where roleName = #{roleName}
	</update>
	
</mapper>